.menu {
    font-family: 'Francois One', sans-serif;
    font-family: 'Days One', sans-serif;
    font-family: 'Didact Gothic', sans-serif;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.menu ul li {
    width: 16%;
}
.menu ul li > ul {
    display: none;
    flex-direction: column;
}
.menu ul li > ul li {
    width: 100%;
}
.menu ul li:hover > ul {
    display: flex;
}
.menu a {
    text-transform: uppercase;
    display: block;
    background: blue;
    padding: 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.menu a:hover {
    background: lightBlue;
    color: blue;
}
